get_prop(platform_app, sensors_prop);

allow platform_app cgroup:file r_file_perms;
allow platform_app cgroup:file { open read };

# Allow system_prop to be read and set by SystemUI
allow platform_app system_prop:property_service set;
