get_prop(platform_app, sensors_prop);

allow platform_app cgroup:file r_file_perms;
allow platform_app cgroup:file { open read };

# Allow system_prop to be read and set by SystemUI
allow platform_app system_prop:property_service set;

# kernel profiles sysnodes
r_dir_file(platform_app, {sysfs_devices_system_cpu sysfs_io_sched_tuneable cgroup sysfs_kgsl})
