<?xml version="1.0" encoding="utf-8"?>
<!-- Copyright (C) 2020 The Xiaomi-SM6250 Project

     Licensed under the Apache License, Version 2.0 (the "License");
     you may not use this file except in compliance with the License.
     You may obtain a copy of the License at

          http://www.apache.org/licenses/LICENSE-2.0

     Unless required by applicable law or agreed to in writing, software
     distributed under the License is distributed on an "AS IS" BASIS,
     WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
     See the License for the specific language governing permissions and
     limitations under the License.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.kcal.settings"
    android:sharedUserId="android.uid.system">

    <uses-permission android:name="android.permission.EXPAND_STATUS_BAR" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INJECT_EVENTS"
          tools:ignore="ProtectedPermissions"/>
    <uses-permission android:name="android.permission.GET_TASKS" />


    <uses-sdk
        android:minSdkVersion="30"
        android:targetSdkVersion="31" />

    <application
        android:supportsRtl="true"
        android:persistent="true">

        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            tools:replace="android:authorities"/>

        <receiver
            android:name=".BootReceiver"
            android:defaultToDeviceProtectedStorage="true"
            android:directBootAware="true"
            android:enabled="true"
            android:exported="true">
            <intent-filter android:priority="1000">
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <category android:name="android.intent.category.DEFAULT" />
                <action android:name="com.android.settings.action.EXTRA_SETTINGS" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".KCalSettingsActivity"
            android:exported="true"
            android:theme="@style/Theme.SubSettingsBase" 
            android:label="@string/advanced_settings_kcal">
            <intent-filter>
                <action android:name="com.android.settings.action.IA_SETTINGS" />
            </intent-filter>
            <meta-data
                android:name="com.android.settings.category"
                android:value="com.android.settings.category.ia.display" />
            <meta-data
                android:name="com.android.settings.summary"
                android:resource="@string/advanced_settings_kcal" />
            <meta-data
                android:name="com.android.settings.order"
                android:value="-70" />
        </activity>
    </application>
</manifest>
