on boot
    chown system shell /vendor/bin/dcim_broadcaster

on property:sys.boot_completed=1
    start dcim_observer
    
service dcim_observer /vendor/bin/dcim_observer
    class late_start
    user root
    group root shell
  

